fastapi
uvicorn[standard]
SQLAlchemy
asyncpg
pydantic
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
aioredis
pydantic-settings
pytest
httpx
alembic
redis
email-validator
jwt
python-json-logger

